body {
    background: rgb(92, 92, 92);
}

h1, h2, h3, h4 {
    color: rgb(89, 169, 172);
}

h1.title {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 177, 184);
    padding: 10px;
}

/* Links */
a:link {
    text-decoration: none;
    color: rgb(255, 192, 203);
}

a:visited {
    text-decoration: none;
    color: rgb(255, 105, 180);
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 129, 192);
}

a:active {
    text-decoration: underline;
}